.topbar-item {
  align-items: center;
  te;
}

.main-page-wrapper {
  text-align: center;
  
}

.main-page-list {
  float: inherit;
  border: 3px solid black;
  width: 175px;
  height: 225px;
  display:inline-block;
  
}

.main-page-item {	
  
}